{% extends "base.html" %}

{% block head %}
<title>Doctors Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Illness Details</h1>
    {% if patients|length < 1%}
    <h4>There are no illness. Create one!</h4>
    {% else %}
    
    <table>
        <tr>
            <th>Name</th>
            <th>Illness</th>
            <th>Symptoms</th>
        </tr>

        {% for patient in patients %}

        <tr>
            <td>{{ patient.content }}</td>
            <td>{{ patient.date_created.date() }}</td>
            <td>
                <a href="/delete/{{ patients.id }}">Delete</a>
                <a href="/update/{{ patients.id }}">Update</a>
            </td>
        </tr>

    {% endfor %}
    
    </table>

    {% endif %}

    <div class="form">
        <form action="/update/{{ patients.id }}" method="POST">
            <input type ="text" name="content" id="content" >
            <input type = "submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}
